{#- Site-wide announcement strip. Expects: es (bool). -#}
<div class="topbar">
  <div class="wrap topbar__inner">
    <span class="topbar__areas">{{ "Sirviendo Westfield, Agawam, Springfield y el oeste de MA" if es else "Serving Westfield, Agawam, Springfield & Western MA" }}</span>
    <span>{{ "Estimados gratis" if es else "Free estimates" }} &mdash; <a href="sms:+14134860396">413-486-0396</a></span>
  </div>
</div>
